version: '3'
services:
  web-boostimauth:
    container_name: boostimauth
    build:
      context: .
      dockerfile: web-auth-dockerfile
    working_dir: /web
    ports:
      - 9500:9000
    depends_on:
      - mysql-boostimauth
    command: mvn clean spring-boot:run -Dspring-boot.run.profiles=prod

  mysql-boostimauth:
    container_name: boostimauth-mysql
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: boostimauth
      MYSQL_ROOT_PASSWORD: boostim#auth
      MYSQL_ROOT_HOST: '%'
    ports:
      - 9501:3306
    restart: always
    command: mysqld --lower_case_table_names=1 --skip-ssl --character_set_server=utf8mb4 --explicit_defaults_for_timestamp

  web-boostimcenter:
    container_name: boostimcenter
    build:
      context: .
      dockerfile: web-center-dockerfile
    working_dir: /web
    ports:
      - 9510:9510
    depends_on:
      - mysql-boostimdata
    command: mvn clean spring-boot:run -Dspring-boot.run.profiles=prod

  web-boostimnode:
    container_name: boostimnode
    build:
      context: .
      dockerfile: web-node-dockerfile
    working_dir: /web
    ports:
      - 9511:9511
    depends_on:
      - mysql-boostimdata
    command: mvn clean spring-boot:run -Dspring-boot.run.profiles=prod

  mysql-boostimdata:
    container_name: boostimdata-mysql
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: boostimdata
      MYSQL_ROOT_PASSWORD: boostim#data
      MYSQL_ROOT_HOST: '%'
    ports:
      - 9600:3306
    restart: always
    command: mysqld --lower_case_table_names=1 --skip-ssl --character_set_server=utf8mb4 --explicit_defaults_for_timestamp

